@model MarketPracticingPlatform.Models.ProductDTO


<html>

<body>
    <div class="ProductEdit">

        <div id="EditErrorView"></div>
        <form method="post" asp-controller="Market" asp-action="EditProduct">
            <label>Название продукта</label><br />
            <input name="Name" type="text" value="@Model.Name" /> <br /><br />
            <label>Категория</label><br />
            <input type="text" name="Category" value="@Model.Category" /><br /><br />
            <label>Описание</label><br />
            <textarea name="Description">@Model.Description</textarea> <br /><br />
            <label>Цена</label><br />
            <input name="Price" type="text" value="@Model.Price" /> <br /><br />
            <label>Производитель</label><br />
            <input type="text" name="Manufacturer" value="@Model.Manufacturer" /> <br /><br />
            <label>Айди дополнительных продуктов к этому продукту</label>
            <input name="Subproducts" type="text" value="@Model.Subproducts" /> <br />
            <small class="form-text text-muted">При редактировании вводить через запятую без пробелов (1,2,3)</small> <br /><br />
            <input hidden type="text" name="ProductId" value="@Model.ProductId"/>
            <input type="submit" value="Редактировать" />
        </form>

    </div>
</body>
    </html>


