@model MarketPracticingPlatform.Models.ProductDTO


<html>

<body>
    <div class="ProductEdit">

        <div id="EditErrorView"></div>
        <form method="post" asp-controller="Market" asp-action="EditProduct">
            <label>Название продукта</label><br />
            <input name="Name" type="text" value="@Model.Name" /> <br /><br />
            <label>Категория</label><br />
            <input type="text" name="Category" value="@Model.CategoryName" /><br /><br />
            <label>Описание</label><br />
            <textarea rows="5" cols="150" name="Description">@Model.Description</textarea> <br /><br />
            <label>Цена</label><br />
            <input name="Price" type="text" value="@Model.Price" /> <br /><br />
            <label>Производитель</label><br />
            <input type="text" name="Manufacturer" value="@Model.Manufacturer" /> <br /><br />
            <div>
                <label>Айди дополнительных продуктов к этому продукту</label>
                <input name="Subproducts" type="text" value="@Model.Subproducts" /> <br />
                <small hidden class="form-text text-muted">При редактировании вводить через запятую без пробелов (1,2,3)</small> <br /><br />
            </div>
            <input name="ProductId" hidden type="text" value="@Model.ProductId" />
            <input type="submit" value="Редактировать" />
        </form>
    </div>
</body>
</html>


