@model Product;

@{

    Layout = null;
}

<!DOCTYPE html>

<html>

<body>

    <div class="ProductInformationBlock">
        <label>Название продукта</label>
        <h1>@Model.Name</h1>
        <label>Описание</label>
        <textarea readonly rows="5" cols="150">@Model.Description</textarea>
        <label>Цена</label>
        <h1>@Model.Price</h1>
        <label>Производитель</label>
        <h1>@Model.Manufacturer</h1>
    </div>


    @await Component.InvokeAsync("RelativeProducts", @Model.ProductId)

    @await Component.InvokeAsync("RecommendedProducts", @Model.ProductId)

</body>
</html>
