@model IEnumerable<MarketPracticingPlatform.DataBaseModels.Product>



    @ViewData["Message"]
    @if (@Model == null)
    {

    }
    else
    {
        <div class="AllProducts">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Цена</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var element in @Model)
                    {
                        <tr>
                            <th scope="row">@element.ProductId</th>
                            <td><a href="~/MarketSearch/ShowProductInfo/@element.ProductId">@element.Name</a></td>
                            <td>@element.Description</td>
                            <td>@element.Price</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    }


